
#linha{
    border: 10px;
    
}

#div1linha{
    
    margin-top:1%;
  
}

#div2linha{
   
    margin-top:2%;
}
#div3linha{
    
    margin-top: 2%;
}
#divSalvar{
    
    margin-top:5%;
   
}
#divCancelar{
    
    margin-top:5%;
    
}
